.productList {
  flex: 4;
  padding: 50px;
}

.productListItem {
  display: flex;
  align-items: center;
}

.productListImg {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  object-fit: cover;
  margin-right: 10px;
}

.productListEdit {
  color: #121268;
  cursor: pointer;
}

.productListDelete {
  color: rgb(221, 2, 38);
  cursor: pointer;
}
